
div.Content[package='Wedding.modules'] {
	.portrait {
		width: 100%;
		height: 275px;
		background-position: 0 50%;
		background-size: cover;
		background-image: url("../img/his_hers_original_scale.jpg");
		background-repeat: no-repeat;
		color: white;

		div:nth-child(1) {
			font-family: @default-title-font;
			font-weight: 700;
			font-size: 36px;
			text-align: center;
			padding-top: 100px;
		}

		div:nth-child(2) {
			font-family: @invitation-font;
			font-size: 20pt;
			text-align: center;
			padding: 0 20px;
		}
	}
	div.widget {
		width: 100%;
		margin: 40px 0;
		div[package='Wedding.widgets'].Countdown {
			font-size: 30px;
			height: 40px;
			padding: 0;
			width: 550px;
			margin: 0 auto;
		
			div {
				float: left;
				color: @theme-color;
			}
			div.unit {
				.eclipse-gradient;
				background-position: 0 -15px;
				width: 45px;
				height: 100%;
				margin: 0 10px 0 0px;
				padding: 5px;
				.rounded(5px);
				
				div {
					text-align: center;
					width: 100%;
					color: white;
				}
				div:nth-child(1) {
					font-size: 24px;
				}
				div:nth-child(2) {
					font-size: 8pt;
				}
			}
			> div:last-child {
				font-size: 20pt;
				height: 50px;
			}
		}
	}

	div[package='Wedding.modules'] {
		margin: 0 0 20px 0;
		background-color: @sections-color;
		width: @content-modules-width;
		padding: @content-modules-padding;
		border: 1px solid @theme-color;
	}

	div.widget:after {
		.clearFloat;
	}
	div.sections {
		max-width: 90%;
		min-width: 600px;
		min-height: 500px;
		margin: 10px;
		display: none;
		background-color: white;
		padding: 10px;

		> div {
			display: none;
		}

		iframe {
			opacity: 1;
		}
	}
}