div.Content[package='Wedding.modules'] {
	width: 100%;

	div.sections {
		max-width: 90%;
		min-width: 600px;
		min-height: 500px;
		margin: 10px;
		display: none;
		background-color: white;
		padding: 10px;
		.rounded(5px);

		> div {
			display: none;
		}

		iframe {
			opacity: 1;
		}
	}
}