div.Header[package='Wedding.modules'] {
	width: 100%;
	.themed-background;
	background-position: 0 -44px;
	color: white;
	position: fixed;
	z-index: 200;
	height: 60px;

	top: 0;
	left: 0;

	div.container {
		width: @width-of-page;
		float: left;
		div.sections {
			width: @width-of-content + 100;
			margin: 0 auto;
			padding: 20px 0;
			ul {
				text-align: right;
				margin: 0;
				li {
					font-size: 12pt;
					list-style: none;
					float: left;
					margin: 0 0 0 30px;
					cursor: pointer;
				}
			}
		}
		div.sections:after {
			.clearFloat;
		}
	}
	div.container:after {
		.clearFloat;
	}
}
