div.OurStory[package='Wedding.modules'] {
	width: 100%;
	div.portrait {
		margin: 0 auto;
		min-height: 417px;
		width: 100%;
		background-position: 0 50%;
		background-size: cover;
		background-image: url("../img/his_hers_original_scale.jpg");
		background-repeat: no-repeat;
	}

	.story {
		color: @theme-color;

		h2 {

		}

		p {
		
		}
	}
}
