div.OurStory[package='Wedding.modules'] {
	width: 100%;

	.story {
		h2 {

		}

		p {
		
		}
		.story-version {
			float: left;
			width: (@width-of-content * 0.48);
			p {
				font-size: 12px;
			}
		}
		.story-version.kathryn {
			margin-right: (@width-of-content * 0.02);
		}
		.story-version.raymond {
			margin-left: (@width-of-content * 0.02);
		}
	}
}
