div[package='Wedding.modules'].TheWeddingParty {
	.gallery {
		.person {
			cursor: pointer;
			float: left;

			.photo {
				width: 200px;
				height: 200px;
				img {
					display: none;
				}
			}
			.about {
				display: none;
			}
			margin: 5px;
			background-color: @theme-color;
			.rounded(5px);
			padding: 3px;
			color: white;
		}
	}
	.cannotSeeThis {
		display: none;
	}
}

.person {
	.photo {
		background-image: url('http://www.solarworlds.co.uk/photo/photos/20080222_PurpleOrchids_700x700med.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: none;
		}
	}
}

.pageModal {
	.container {
		.person {
			.photo {
				float: left;
				min-width: 50px;
				min-height: 50px;
				max-width: 600px;
				max-height: 500px;
				img.show {
					display: inline;
				}
			}

			.info {
				float: left;
				color: white;
				.name {
	
				}
				.about {
				}
			}
		}
	}
}