div[package='Wedding.modules'].TheWeddingParty {
	.bridesmaids,.groomsmen {
		width: (@width-of-content * 0.48);
		float: left;
		.group {
			font-size: 20pt;
			text-align: center;
		}
		.gallery {
			.person:hover {
				.name {
					text-decoration: underline;
				}
				.photo {
					
				}
			}
			.person {
				cursor: pointer;
				.lookLikeALink;
				margin: 15px auto;
				.name {
					width: (@width-of-content * 0.48 - 200);
					float: left;
					text-align: center;
					line-height: 150px;
				}
				.photo {
					float: left;
					width: 200px;
					height: 200px;
					img {
						display: none;
					}
				}
				.role {
					display: none;
				}
				.about {
					display: none;
				}
				margin: 5px;
				padding: 3px;
			}
		}
	}

	.bridesmaids {
		margin-right: (@width-of-content * 0.02);
		.gallery {
			
		}
	}
	.groomsmen {
		margin-left: (@width-of-content * 0.02);
		.gallery {
		
		}
	}

	.cannotSeeThis {
		display: none;
	}

	.bridesmaids:after,.groomsmen:after {
		.clearFloat;
	}
	
}

.person {
	.photo {
		background-image: url('http://www.solarworlds.co.uk/photo/photos/20080222_PurpleOrchids_700x700med.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: none;
		}
	}
}


.pageModal.containing-box {
	background-color: white;
	.container {
		padding: 5px;
		.person {
			.photo {
				float: left;
				min-width: 200px;
				min-height: 200px;
				max-width: 500px;
				max-height: 500px;
				margin: 10px;
				img.show {
					display: inline;
				}
			}

			.info {
				float: left;
				width: 400px;
				height: 100%;
				div {
					margin: 10px;
				}
				.name {
					font-size: 18pt;
				}
				.role {

				}
				.about {

				}
			}
		}
		.person:after {
			.clearFloat;
		}
	}
}
