div[package='Wedding.modules'].TravelInfo {
	.first-three-width {
		width: (@content-modules-width * 0.31);
	}

	div {
		div.seeMore {
			display: hidden;
		}
		.show-only-in-modal {
			display: none;
		}		
	}

	div.air-travel,div.accommodations,div.ground-transport {
		float: left;
		.first-three-width;
		.prev {
			.first-three-width;
			height: 160px;
		}
		div.prev{
			background-position: 0 50%;
			background-size: cover;
		}

		h3 {
		}
		h4 {
			font-family: 10pt;
		}
	}
	div.air-travel div.prev {
		background-image: url('/img/AirTravelPlane.jpg');
	}
	div.accommodations div.prev {
		background-image: url('/img/maple-tree-inn.jpg');
		background-position-y: -50px;
	}
	div.ground-transport div.prev {
		background-image: url('/img/Classic-cable-car.jpg');
	}

	div.accommodations {
		margin: 0 (@width-of-content * 0.03);
		.table {
			width: 250px;
			border-color: @theme-color;
			.row {
				.cell {
					border-color: @theme-color;
					padding: 3px;
				}
				.cell:nth-child(1) {
					width: 60px;
				}
				.cell:nth-child(2) {
					width: 60px;
					text-align: right;
				}
				.cell:nth-child(3) {
					width: 60px;
					text-align: right;
				}
			}
		}
	}

	div.things-to-do {
		width: 100%;
		h3 {
		}
	}

	div.topic {
		.info {
			max-height: 500px; //190px
			text-overflow: ellipsis;
			overflow: hidden;
			.inner {
				font-size: 10pt;
			}
		}
	}
	div.topic {
		a.seeMore, a.hideOverflow {
			display: none;
			font-size: 10pt;
			text-decoration: none;
		}
	}
	div.topic.exempted {
		.info {
			max-height: none;
		}
		a.seeMore {
			display: none;
		}
		a.hideOverflow {
			display: block;
		}
	}
	div.topic.overflown {
		a.seeMore {
			display: block;
		}
		a.hideOverflow {
			display: none;
		}
	}

	div.clear {
		.clearFloat;
		height: 1px;
	}
}

.pageModal.containing-box {

}