
@theme-color: rgb(97,64,81);
@default-title-font: 'Great Vibes', cursive;

body div.website {
	margin: 0 auto;
	min-width: 800px;
	max-width: 1200px;
}

div[package='Wedding.modules'] {
	h2 {
		color: @theme-color;
		font-family: @default-title-font;
		font-size: 24px;
	}
}