
/* @theme-color: rgb(97,64,81); */
@theme-color: rgb(96,26,120);
/*@body-color: rgb(221, 219, 227);*/
@body-color: white;
@sections-color: white;
@default-title-font: 'Great Vibes', cursive;

@width-of-page: 100%;
@width-of-content: 850px;
.themed-background {
	background-color: RebeccaPurple;
}

@content-modules-padding: 11px;
@content-modules-width: (@width-of-content - (2 * @content-modules-padding));

.default-body-font {
	font-family: 'PT Sans', helvetica, arial, sans-serif;
	font-size: 11pt;
}

body {
	margin: 0;
	background-color: @body-color;
	.default-body-font;
	div.website {
		width: @width-of-page;
		position: relative;
		margin-top: 60px;
		z-index: 1;
	
		div[package='Wedding.modules'] {
			h2 {
				font-family: @default-title-font;
				font-size: 24pt;
				text-align: center;
				margin: 0;
				line-height: 0.1em;
				width: 100%;
				border-top: 1px solid black;

				span {
					background-color: white;
					padding: 0 10px;
				}
			}
		}

		div.Content[package='Wedding.modules'] {
			width: @width-of-content;
			margin: 0 auto;
		}
	}

	.table {
		border: 1px solid black;
		border-width: 1px 0 0 1px;
		.row {
			display: block;
			.cell {
				width: 150px;
				float: left;
				border: 1px solid black;
				border-width: 0 1px 1px 0;
			}
		}
	}
	.table:after {
		.clearFloat;
	}
}



.clearFloat {
	content: " ";
	display: block;
	clear: both;
}